<article class="post pt-2">
    <div class="title">
        <a href="/post/{{id}}" class="text-info">{{title}}</a>
    </div>
    <div class="body">
        {{post_text}}
    </div>
    <div class="meta pb-2">
        Posted by {{user.username}} on {{format_date created_at}}
    </div>
</article>